<h1>Register Form</h1>

<form [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm.value)">

  <h5 *ngIf="Success">Your form is valid!</h5>

  <label>
    Email:
    <input type="text" formControlName="username" required>
    <div *ngIf="Submitted && LoginForm.controls.username.errors" class="error">
      <div *ngIf="LoginForm.controls.username.errors.required">Your email is required, bro.</div>
      <div *ngIf="LoginForm.controls.username.errors.email">Your email should be valid, bro.</div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password" required>
    <div *ngIf="Submitted && LoginForm.controls.password.errors" class="error">
      <div *ngIf="LoginForm.controls.password.errors.required">Password is required</div>
      <div *ngIf="LoginForm.controls.password.errors.minlength">Enter more than 3.</div>
    </div>
  </label>

  <input type="submit" value="Login" class="cta">

  <!-- [routerLink]="['/']" -->

</form>

<div *ngIf="Submitted" class="results">
  <strong>Name:</strong>
  <span>{{ LoginForm.controls.username.value }}</span>

  <strong>Message:</strong> 
  <span>{{ LoginForm.controls.password.value }}</span>
</div>